table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.full_width{
	width: 100%;
}

.right{
	float: right;
}

.red{
	color: red;
}

.green{
	color: green;
}

.padded{
	padding: 5px;
	margin: 5px;
}

.bg-grey {
	background-color: #eee;
}